<<<<<<< HEAD
* {
    text-align: center;  
}

h1 {
    background-color:darkslategrey;
    color: aliceblue;
=======
* {
    text-align: center;  
}

h1 {
    background-color:darkslategrey;
    color: aliceblue;
>>>>>>> 4dfb3db6925012c9c83208c848be51bfe6b1a876
}